
 header{
    color:rebeccapurple;
    }
 body{
    background-color:lightsteelblue;
 }
 .header-row th {
    background-color: darkgray;
    color:white;
}

.odd-row {
    background-color: #f0f0f0;
}

.even-row {
    background-color: #e0e0ff;
}


