
 header{
    color:rebeccapurple;
    background-color:whitesmoke;
}
 body{
    background-color:powderblue;
 }
 .header-row th {
    background-color: darkgray;
    color:white;
}

.odd-row {
    background-color: #f0f0f0;
}

.even-row {
    background-color: #e0e0ff;
}
#topH{
    background-color:honeydew;
    border: 2px solid whitesmoke;
}


